<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/navbarStyles.css">
    <link rel="stylesheet" href="/stylesheets/profileStyles.css">
</head>

<body>
    <div id="navbar">
        <a href="http://localhost:3000/ChessWebsite/home">Home</a>
        <a href="http://localhost:3000/ChessWebsite/profile">Profile</a>
        <a href="http://localhost:3000/ChessWebsite/playUser">Play-user</a>
        <a href="http://localhost:3000/ChessWebsite/playBot">Play-bot</a>
        <a href="http://localhost:3000/ChessWebsite/boardToFen">Image-To-Fen</a>
        <a href="http://localhost:3000/ChessWebsite/chat">Chat</a>
        <form action="http://localhost:3000/ChessWebsite/logout" method="get">
            <button type="submit">Logout</button>
        </form>
    </div>
    <div id="content">
        <br>
        Hey <%= userName%> welcome to your profile page! More content and links can be inserted here.
    </div>

</body>

</html>